# Auto detect text files and perform LF normalization
* text=auto

# GitHub Linguist
docs/** linguist-documentation
man/** linguist-documentation
tests/** linguist-vendored
vignettes/** linguist-vendored
misc/** linguist-vendored
