useDynLib(collapse, .registration=TRUE) # , .fixes = "C_"
# useDynLib(collapse, "multi_yw")
importFrom(Rcpp, evalCpp)
importFrom("graphics", "hist", "par", "plot")
importFrom("grDevices", "rainbow")
importFrom("lfe", "demeanlist")
importFrom("stats", "as.formula", "complete.cases", "cor", "cov",
           "setNames", "terms.formula", "ts", "ts.plot")
 export(add_stub)
 export(all.identical)
 export(as.factor.GRP)
 export(atomic_elem)
 export(`atomic_elem<-`)
 export(B)
 export(fbetween)
 export(fbetween.data.frame)
 export(fbetween.default)
 export(fbetween.grouped_df)
 export(fbetween.matrix)
 export(fbetween.pdata.frame)
 export(fbetween.pseries)
 export(BY)
 export(BY.data.frame)
 export(BY.default)
 export(BY.grouped_df)
 export(BY.matrix)
 export(cat_vars)
 export(`cat_vars<-`)
 export(char_vars)
 export(`char_vars<-`)
 export(collap)
 export(D)
 export(dapply)
 export(Date_vars)
 export(`Date_vars<-`)
 export(F)
 export(fact_vars)
 export(`fact_vars<-`)
 export(fdiff)
 export(fdiff.data.frame)
 export(fdiff.default)
 export(fdiff.grouped_df)
 export(fdiff.matrix)
 export(fdiff.pdata.frame)
 export(fdiff.pseries)
 export(ffirst)
 export(ffirst.data.frame)
 export(ffirst.default)
 export(ffirst.grouped_df)
 export(ffirst.matrix)
 export(fgrowth)
 export(fgrowth.data.frame)
 export(fgrowth.default)
 export(fgrowth.grouped_df)
 export(fgrowth.matrix)
 export(fgrowth.pdata.frame)
 export(fgrowth.pseries)
 export(flag)
 export(flag.data.frame)
 export(flag.default)
 export(flag.grouped_df)
 export(flag.matrix)
 export(flag.pdata.frame)
 export(flag.pseries)
 export(flast)
 export(flast.data.frame)
 export(flast.default)
 export(flast.grouped_df)
 export(flast.matrix)
 export(fmax)
 export(fmax.data.frame)
 export(fmax.default)
 export(fmax.grouped_df)
 export(fmax.matrix)
 export(fmean)
 export(fmean.data.frame)
 export(fmean.default)
 export(fmean.grouped_df)
 export(fmean.matrix)
 export(fmedian)
 export(fmedian.data.frame)
 export(fmedian.default)
 export(fmedian.grouped_df)
 export(fmedian.matrix)
 export(fmin)
 export(fmin.data.frame)
 export(fmin.default)
 export(fmin.grouped_df)
 export(fmin.matrix)
 export(fmode)
 export(fmode.data.frame)
 export(fmode.default)
 export(fmode.grouped_df)
 export(fmode.matrix)
 export(fNdistinct)
 export(fNdistinct.data.frame)
 export(fNdistinct.default)
 export(fNdistinct.grouped_df)
 export(fNdistinct.matrix)
 export(fNobs)
 export(fNobs.data.frame)
 export(fNobs.default)
 export(fNobs.grouped_df)
 export(fNobs.matrix)
 export(fprod)
 export(fprod.data.frame)
 export(fprod.default)
 export(fprod.grouped_df)
 export(fprod.matrix)
 export(fscale)
 export(fscale.data.frame)
 export(fscale.default)
 export(fscale.grouped_df)
 export(fscale.matrix)
 export(fscale.pdata.frame)
 export(fscale.pseries)
 export(fsd)
 export(fsd.data.frame)
 export(fsd.default)
 export(fsd.grouped_df)
 export(fsd.matrix)
 export(fsum)
 export(fsum.data.frame)
 export(fsum.default)
 export(fsum.grouped_df)
 export(fsum.matrix)
 export(fvar)
 export(fvar.data.frame)
 export(fvar.default)
 export(fvar.grouped_df)
 export(fvar.matrix)
 export(G)
 export(get_elem)
 export(get_vars)
 export(`get_vars<-`)
 export(GRP)
 export(GRP.default)
 export(GRP.factor)
 export(GRP.grouped_df)
 export(GRP.pdata.frame)
 export(GRP.pseries)
 export(GRP.qG)
 export(group_names.GRP)
 export(has_elem)
 export(HDB)
 export(HDB.data.frame)
 export(HDB.default)
 export(HDB.matrix)
 export(HDW)
 export(HDW.data.frame)
 export(HDW.default)
 export(HDW.matrix)
 export(HDW.pdata.frame)
 export(HDW.pseries)
 export(fHDwithin)
 export(fHDwithin.default)
 export(fHDwithin.matrix)
 export(fHDwithin.pdata.frame)
 export(fHDwithin.pseries)
 export(irreg_elem)
 export(is.categorical)
 export(is.Date)
 export(is.GRP)
 export(is.regular)
 export(is.unlistable)
 export(L)
 export(ldepth)
 export(list_elem)
 export(`list_elem<-`)
 export(logi_vars)
 export(`logi_vars<-`)
 export(mctl)
 export(mrtl)
 export(namlab)
 export(num_vars)
 export(`num_vars<-`)
 export(psacf)
 export(psccf)
 export(psmat)
 export(psmat.default)
 export(psmat.pseries)
 export(psmat.data.frame)
 export(psmat.pdata.frame)
 export(pspacf)
 export(qDF)
 export(qDT)
 export(qF)
 export(qG)
 export(qM)
 export(qsu)
 export(rapply2d)
 export(reg_elem)
 export(STD)
 export(TRA)
 export(TRA.data.frame)
 export(TRA.default)
 export(TRA.grouped_df)
 export(TRA.matrix)
 export(unlist2d)
 export(vlabels)
 export(`vlabels<-`)
 export(W)
 export(fwithin)
 export(fwithin.data.frame)
 export(fwithin.default)
 export(fwithin.grouped_df)
 export(fwithin.matrix)
 export(fwithin.pdata.frame)
 export(fwithin.pseries)
 export(seq_row)
 export(seq_col)
 export(setRownames)
 export(setColnames)
 export(setDimnames)
 export(pwcor)
 export(pwcov)
 export(na.rm)
 export(`%!in%`)
 export(Recode)
 export(replace_non_finite)
 export(replace_outliers)

 S3method(B, data.frame)
 S3method(B, default)
 S3method(B, grouped_df)
 S3method(B, matrix)
 S3method(B, pdata.frame)
 S3method(B, pseries)
 S3method(fbetween, data.frame)
 S3method(fbetween, default)
 S3method(fbetween, grouped_df)
 S3method(fbetween, matrix)
 S3method(fbetween, pdata.frame)
 S3method(fbetween, pseries)
 S3method(BY, data.frame)
 S3method(BY, default)
 S3method(BY, grouped_df)
 S3method(BY, matrix)
 S3method(D, data.frame)
 S3method(D, default)
 S3method(D, grouped_df)
 S3method(D, matrix)
 S3method(D, pdata.frame)
 S3method(D, pseries)
 S3method(F, data.frame)
 S3method(F, default)
 S3method(F, grouped_df)
 S3method(F, matrix)
 S3method(F, pdata.frame)
 S3method(F, pseries)
 S3method(fdiff, data.frame)
 S3method(fdiff, default)
 S3method(fdiff, grouped_df)
 S3method(fdiff, matrix)
 S3method(fdiff, pdata.frame)
 S3method(fdiff, pseries)
 S3method(ffirst, data.frame)
 S3method(ffirst, default)
 S3method(ffirst, grouped_df)
 S3method(ffirst, matrix)
 S3method(fgrowth, data.frame)
 S3method(fgrowth, default)
 S3method(fgrowth, grouped_df)
 S3method(fgrowth, matrix)
 S3method(fgrowth, pdata.frame)
 S3method(fgrowth, pseries)
 S3method(flag, data.frame)
 S3method(flag, default)
 S3method(flag, grouped_df)
 S3method(flag, matrix)
 S3method(flag, pdata.frame)
 S3method(flag, pseries)
 S3method(flast, data.frame)
 S3method(flast, default)
 S3method(flast, grouped_df)
 S3method(flast, matrix)
 S3method(fmax, data.frame)
 S3method(fmax, default)
 S3method(fmax, grouped_df)
 S3method(fmax, matrix)
 S3method(fmean, data.frame)
 S3method(fmean, default)
 S3method(fmean, grouped_df)
 S3method(fmean, matrix)
 S3method(fmedian, data.frame)
 S3method(fmedian, default)
 S3method(fmedian, grouped_df)
 S3method(fmedian, matrix)
 S3method(fmin, data.frame)
 S3method(fmin, default)
 S3method(fmin, grouped_df)
 S3method(fmin, matrix)
 S3method(fmode, data.frame)
 S3method(fmode, default)
 S3method(fmode, grouped_df)
 S3method(fmode, matrix)
 S3method(fNdistinct, data.frame)
 S3method(fNdistinct, default)
 S3method(fNdistinct, grouped_df)
 S3method(fNdistinct, matrix)
 S3method(fNobs, data.frame)
 S3method(fNobs, default)
 S3method(fNobs, grouped_df)
 S3method(fNobs, matrix)
 S3method(fprod, data.frame)
 S3method(fprod, default)
 S3method(fprod, grouped_df)
 S3method(fprod, matrix)
 S3method(fscale, data.frame)
 S3method(fscale, default)
 S3method(fscale, grouped_df)
 S3method(fscale, matrix)
 S3method(fscale, pdata.frame)
 S3method(fscale, pseries)
 S3method(fsd, data.frame)
 S3method(fsd, default)
 S3method(fsd, grouped_df)
 S3method(fsd, matrix)
 S3method(fsum, data.frame)
 S3method(fsum, default)
 S3method(fsum, grouped_df)
 S3method(fsum, matrix)
 S3method(fvar, data.frame)
 S3method(fvar, default)
 S3method(fvar, grouped_df)
 S3method(fvar, matrix)
 S3method(G, data.frame)
 S3method(G, default)
 S3method(G, grouped_df)
 S3method(G, matrix)
 S3method(G, pdata.frame)
 S3method(G, pseries)
 S3method(GRP, default)
 S3method(GRP, factor)
 S3method(GRP, grouped_df)
 S3method(GRP, pdata.frame)
 S3method(GRP, pseries)
 S3method(GRP, qG)
 S3method(HDB, data.frame)
 S3method(HDB, default)
 S3method(HDB, matrix)
 S3method(HDW, data.frame)
 S3method(HDW, default)
 S3method(HDW, matrix)
 S3method(HDW, pdata.frame)
 S3method(HDW, pseries)
 S3method(fHDwithin, default)
 S3method(fHDwithin, matrix)
 S3method(fHDwithin, pdata.frame)
 S3method(fHDwithin, pseries)
 S3method(L, data.frame)
 S3method(L, default)
 S3method(L, grouped_df)
 S3method(L, matrix)
 S3method(L, pdata.frame)
 S3method(L, pseries)
 S3method(plot, GRP)
 S3method(print, GRP)
 S3method(print, qsu)
 S3method(psacf, data.frame)
 S3method(psacf, default)
 S3method(psacf, pdata.frame)
 S3method(psacf, pseries)
 S3method(psccf, default)
 S3method(psccf, pseries)
 S3method(psmat, data.frame)
 S3method(psmat, default)
 S3method(psmat, pdata.frame)
 S3method(psmat, pseries)
 S3method(plot, psmat)
 S3method(pspacf, data.frame)
 S3method(pspacf, default)
 S3method(pspacf, pdata.frame)
 S3method(pspacf, pseries)
 S3method(qsu, data.frame)
 S3method(qsu, default)
 S3method(qsu, matrix)
 S3method(qsu, pdata.frame)
 S3method(qsu, pseries)
 S3method(STD, data.frame)
 S3method(STD, default)
 S3method(STD, grouped_df)
 S3method(STD, matrix)
 S3method(STD, pdata.frame)
 S3method(STD, pseries)
 S3method(TRA, data.frame)
 S3method(TRA, default)
 S3method(TRA, grouped_df)
 S3method(TRA, matrix)
 S3method(W, data.frame)
 S3method(W, default)
 S3method(W, grouped_df)
 S3method(W, matrix)
 S3method(W, pdata.frame)
 S3method(W, pseries)
 S3method(fwithin, data.frame)
 S3method(fwithin, default)
 S3method(fwithin, grouped_df)
 S3method(fwithin, matrix)
 S3method(fwithin, pdata.frame)
 S3method(fwithin, pseries)
